<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017720724176-8pjnkjk99i5lmmaf34nv80bvlf6amh1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017720724176-8pjnkjk99i5lmmaf34nv80bvlf6amh1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017720724176-lirgtjmfj7j4e178n70g9f9nvpdugi3e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKTFeQLwjLR5-I2ucJj0K6RkiPPw1J-rk</string>
	<key>GCM_SENDER_ID</key>
	<string>1017720724176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.OPMath</string>
	<key>PROJECT_ID</key>
	<string>optest-fd58a</string>
	<key>STORAGE_BUCKET</key>
	<string>optest-fd58a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017720724176:ios:c699b9c6b73ef53a731cd5</string>
	<key>DATABASE_URL</key>
	<string>https://optest-fd58a.firebaseio.com</string>
</dict>
</plist>